// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.text-right {
  text-align: left;
}

.form-style {
  margin-top: 40px;
}

.form-component {
  padding: 40px;

}
