<div class="footer">
  <div class="footer-links">
  </div>
  <div class="footer-copyright">
    This homepage is made with <i class="fa fa-heart"></i> at <em><strong>Le Wagon bootcamp Tokyo</strong></em>
  </div>
</div>
